*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

header{
    grid-area: header;
    background-color: #00589d;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

aside{
    grid-area: filtro;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    font-size: medium;
    font-weight: 500;
}
.optFiltro {
    display: flex;
    width: 80%;
    background-color: #FFF;
    margin: 10px;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}

main{
    grid-area: main;
    padding: 1rem;
}
footer{
    grid-area: footer;
    background-color: #002e6c;
    color: #FFF;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}
.iconosFooter{
    margin-top: 5px;
}
footer > p {
    margin-bottom: 10px;
}
nav ul{
    display: none;
}
.hamburger{
    display: flex;
    align-items:center;
    padding: 10px;
}
.grid-container{
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
    "header"
    "filtro"
    "main"
    "footer";
    grid-template-rows: 70px auto auto auto;
}

.productos-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card > p {
    text-align: center;
    margin-bottom: 5px;
}
.card > img{
    width: 100%;
    object-fit: cover;
}
.card > button {
    background-color: #00589d;
    color: #ffff;
    border: none;
    width: 20%;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 7px;
}
/*PAGINACION */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pagination a {
    padding: 8px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #b7bcbe;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #b7bcbe;
    color: white;
}

.pagination .active {
    background-color: #007bff;
    color: white;
}


@media (min-width: 576px) {
    nav > ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .hamburger{
        display: none;
    }
}