* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

header {
    grid-area: header;
    background-color: #00589d;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.filtros {
    grid-area: filtro;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}

.optFiltro {
    display: flex;
    width: 80%;
    background-color: #FFF;
    margin: 10px;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #002e6c;
    color: #FFF;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.iconosFooter {
    margin-top: 5px;
}

footer>p {
    margin-bottom: 10px;
}

nav ul {
    display: none;
}

.hamburger {
    display: flex;
    align-items: center;
    padding: 10px;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "filtro"
        "main"
        "footer";
    grid-template-rows: 70px auto auto auto;
}

.productos-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    max-height: 550px;
    overflow-y: scroll;
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card>p {
    text-align: center;
    margin-bottom: 5px;
}

.card>img {
    width: 100%;
    object-fit: cover;
    image-rendering: auto;
}

.card>button {
    background-color: #00589d;
    color: #ffff;
    border: none;
    width: 20%;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 7px;
}
.derechos{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/*PAGINACION */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pagination a {
    padding: 8px 12px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #b7bcbe;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #b7bcbe;
    color: white;
}

.pagination .active {
    background-color: #007bff;
    color: white;
}


@media (min-width: 576px) {
    .grid-container {
        grid-template-areas:
            "header filtro"
            "header main"
            "footer main";
        grid-template-rows: 100px 1fr 100px;
        grid-template-columns: 15% 1fr;
    }

    .productos-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    header {
        padding: 20px;
        flex-direction: column;
        justify-content: start;
    }
    
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav>ul {
        display: flex;
        margin-top: 50px;
        text-align: center;
        text-align: center;
        gap: 1rem;
        flex-direction: column;
    }
    .derechos{
        flex-direction: column;
    }
    .card{
        width: 30%;
    }
    .hamburger {
        display: none;
    }

}